@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<title>Про нас</title>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Про нас</h1>
                    <p class="card-text">
                        Ласкаво просимо на наш сайт – ваш надійний партнер у світі автоматизації взаємодії з клієнтами для підприємств з обробки металевих виробів. Ми розуміємо, наскільки важливою є ефективна комунікація у бізнесі, тому створили інноваційне рішення, яке допоможе вам оптимізувати робочі процеси та покращити взаємодію з клієнтами.
                    </p>
                    <p class="card-text">
                        Наш сервіс розроблений з урахуванням специфіки галузі обробки металу, тому ми пропонуємо інструменти, які максимально відповідають потребам вашого підприємства. Завдяки нашим технологіям, ви зможете зосередитися на тому, що дійсно важливо – якісній обробці металу та задоволенні потреб ваших клієнтів.
                    </p>
                    <p class="card-text">
                        Ми прагнемо зробити вашу роботу простішою та ефективнішою, тому постійно вдосконалюємо наші рішення, враховуючи зворотний зв'язок від користувачів. Наша команда складається з професіоналів, які мають великий досвід у галузі автоматизації та глибоке розуміння потреб металургійних підприємств.
                    </p>
                    <p class="card-text">
                        Приєднуйтесь до нас і відчуйте, як наш сервіс може змінити вашу взаємодію з клієнтами на краще. Разом ми зможемо досягти нових висот у вашому бізнесі!
                    </p>
                    <p class="card-text">
                        Дякуємо, що обрали нас!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}


   

